#landingpage-info {
    display: flex;
    gap: 5%;
    margin-top: 2%;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}

.highlight{
    color: #F97D30;
    
}
#landingpage-text {
    flex-wrap: wrap;
    width: 60%;
    max-width: 60%;
    margin-top: 15%;
    margin-left: 6%;
    font-size: 55px;
}

#girlpic {
    border-radius: 50%;
    width: 180%;
    max-width: 180%;
    height: 80%;
    margin-left: -100%;
    margin-top: 10%;
    background-color: #F97D30;
}
#feature{
    background-color: #01655E;
    padding-bottom: -2%;
    
}


#text{
    text-align: center;

    
}

#icons{
    margin-left: 20%;
    display: flex;
    gap: 15%;
    color: #F97D30;
    margin-top: -5%;
    align-items: center;
    margin-top: -2%;
    padding-bottom: 2%;
}

button{
    background-color: #F97D30;
    padding: 20px;
    width: 20%;
    color: #01655E;
    font-size: 20px;
    margin-top: 8%;
    margin-left: 25%;
    margin-bottom: 14%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(101, 40, 4, 0.5);
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}

button {
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    transform: scale(1.1) translateY(-5px);
}
